<h1>Editing contract history</h1>

<%= render "form", contract_history: @contract_history %>

<br>

<div>
  <%= link_to "Show this contract history", @contract_history %> |
  <%= link_to "Back to contract histories", contract_histories_path %>
</div>
