<%= render @contract_history %>

<div class="mb-3">
  <%= link_to "編集", edit_contract_history_path(@contract_history) %> |
  <%= link_to "契約履歴一覧に戻る", contract_histories_path %>
</div>
<div>
  <%= button_to "削除", @contract_history, method: :delete, class: "btn btn-danger" %>
</div>
