<div id="<%= dom_id electricity_bill %>">
  <p>
    <strong>Month:</strong>
    <%= electricity_bill.month %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= electricity_bill.amount %>
  </p>

</div>
