<h1>電気代</h1>

<div class="row py-2 border-bottom">
  <div class="col-4 fw-bold">請求月</div>
  <div class="col-4 fw-bold">電気代</div>
  <div class="col-4 fw-bold">
    <%= link_to "新規追加",
      new_electricity_bill_path,
      class: "btn btn-sm btn-primary",
      data: { turbo_frame: dom_id(ElectricityBill.new) }
    %>
  </div>
</div>
<%= turbo_frame_tag ElectricityBill.new %>
<div id="electricity_bills">
  <%= render @electricity_bills %>
</div>
