<%= render @electricity_bill %>

<div class="mb-3">
  <%= link_to "編集", edit_electricity_bill_path(@electricity_bill) %> |
  <%= link_to "電気代一覧に戻る", electricity_bills_path %>

  <%= button_to "削除", @electricity_bill, method: :delete %>
</div>
